Xft.dpi: 100

! These might also be useful depending on your monitor and personal preference:
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

st.font:         JetBrainsMono Nerd Font:style:medium:pixelsize=28

! window padding
st.borderpx: 10

!- 0.1 to 0.9 = transparency
st.alpha: 0.95

*background: #1a1b26
*foreground: #c0caf5

! black
*color0: #45475A
*color8: #585B70

! red
*color1: #F38BA8
*color9: #F38BA8

! green
*color2: #A6E3A1
*color10: #A6E3A1

! yellow
*color3: #F9E2AF
*color11: #F9E2AF

! blue
*color4: #89B4FA
*color12: #89B4FA

! magenta
*color5: #F5C2E7
*color13: #F5C2E7

! cyan
*color6: #94E2D5
*color14: #94E2D5

! white
*color7: #BAC2DE
*color15: #A6ADC8
